html, body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.main {
	text-align: center;
}

.graph {
	/*background: #050505;*/
}
.graph .discribe {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	padding-top: 30px;
	color: #7a7a7a;
	font-size: 55px;
	text-align: left;
	cursor: default;
}
.graph .discribe .keyword {
	font-weight: bold;
	font-size: 55px;
	color: #82A0BC;
	margin-top: 10px;
}
.graph .discribe input {
	-webkit-appearance: none;
	outline : none;
	display: block;
	width: 100%;
	background: transparent;
	margin: 20px 0;
}
.graph .discribe input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
  	height: 3px;
  	box-shadow: 0px 0px 0px #000000;
  	background: #a0a0a0;
  	border-radius: 1px;
  	border: 0px solid #000000;
}
.graph .discribe input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #a0a0a0;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #c0c0c0;
	-webkit-appearance: none;
	margin-top: -7px;
}
.graph svg {
	display: inline-block;
	vertical-align: top;
}
.graph #dots:hover {
	stroke: #fff;
	stroke-width: 3;
}
.graph .nameList {
	display: inline-block;
	text-align: right;
	padding-right: 10px;
	padding-top: 30px;
}

.name {
	margin: 20px 0 0 0;
	padding: 0;
	font-size: 0;
}
.names button {
	border: none;
	background: none;
	font-size: 18px;
	padding: 0;
	margin: 4px;
	color: #6a6a6a;
	outline: none;
}
.names button:hover:enabled {
	text-decoration: underline;
}
.names button:disabled {
	color: #aaaaaa;
	/*color: #333333;*/
}
.names img {
	vertical-align: middle;
	margin-left: 8px;
}

.intro {
	width: 60%;
	color: #444444;
	margin: 0 auto;
	line-height: 36px;
	padding-top: 30px;
	font-weight: 300;
	font-size: 18px;
}

#separate {
	margin: 40px auto;
	margin-bottom: 10px;
	padding: 10px;
	width: 300px;
	border-top: solid #58382D 2px;
	color: #58382D;
}

.content {
	width: 60%;
	color: #444444;
	margin: 0 auto;
	line-height: 36px;
	font-weight: 300;
	font-size: 18px;
}

.chooseLanguage button {
	border: none;
	background: none;
	font-size: 18px;
	padding: 0;
	margin: 20px 20px 5px 20px;
	color: #6a6a6a;
	outline: none;
}
.chooseLanguage button:hover:enabled {
	text-decoration: underline;
}